
.head{
  background-color: #683091;
}
.search{
  background-color: green;
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E7E7E7;
  }
  
  .li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  .li:last-child {
    border-right: none;
  }
  
  .li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .content{
    display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .item1 {
    grid-row-end: span 3;
  }
  .item2{
    padding: 10px;
    align-items: center;
  }
  .khobor{
    width: 1100px;
    background-color: #bbb;
  }
  .container{
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .notice{
    grid-column-end: span 3;
    background-color: #bbb;
    width: 1080px;
  }
  .list {
    list-style-image: url('https://icons.iconarchive.com/icons/papirus-team/papirus-apps/16/chromium-app-list-icon.png');
  }
  .container1{
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  }
  .card{
    background-color: #bbb;
    width: 400px;
    box-shadow: 5px 3px black;
  }